@charset "macintosh";
/* CSS Document */

body	{
	background-image:url('/images/debut_light.png');
	background-repeat:repeat;
	}
h1	{
	font-family: "Arial", "Times New Roman", Times, san serif; 
	color:#000; 
	font-size:18px; 
	}
h2	{
	font-family: "Arial", "Times New Roman", Times, san serif;  
	color:#000; 
	font-size:12px;
	line-height:16px; 
	margin:1px 15px -10px 0;
	font-weight:lighter;
	text-transform:uppercase;
	letter-spacing: 0.1em;
	}
h3	{
	font-family: "Arial", "Times New Roman", Times, san serif; 
	color:#333; 
	margin:10px 0 8px 0;
	text-transform:uppercase;
	font-weight:bold;
	padding-left: 40px;
	font-size:36px;
	text-align:center;
	
	}


h4	{
	font-family: "Arial", "Times New Roman", Times, san serif; 
	color:#333; 
	font-size:24px;
	font-weight:bold;
	margin:0;
	padding: 10px 0 0 40px;
	text-align: center;
	}
	
	
	
	
	h5	{
	font-family: "Arial", "Times New Roman", Times, san serif; 
	color:#000; 
	font-size:20px;
	line-height:26px; 
	margin:0;
	font-weight:normal;
	padding: 0 0 30px 40px;
	text-align:center;
	}
	
	
	
	


ul .ol {
	list-style-type:circle;
	}



p	{
	font-family: "Arial", Helvetica, sans-san serif; 
	font-size:12px;
	line-height:1.4em;
	text-align:center;	
	padding:0;
	width:auto;	
	letter-spacing: 0.1em;
	text-transform:uppercase;
	font-weight:bolder;
	}



p.title	{
	font-family: "Arial", Helvetica, sans-san serif; 
	font-size:12px;
	line-height:1.6em;
	color:#000; 
	text-align:center;
	width:auto;	
	padding:0 0 10px 0;
	margin:0;
	text-transform:uppercase;
	letter-spacing: 0.1em;
	}


p.caption {
	font-family: "Arial", Helvetica, sans-san serif; 
	font-size:12px;
	line-height:1.4em;
	text-align:center;	
	padding:0;
	width:auto;	
	letter-spacing: 0.1em;
	text-transform:uppercase;
}







.clear {
	clear:both;
}



 
hr {
	border: 0;
    height: 1px;
    background: #fff;
    background-image: -webkit-linear-gradient(left, #eee, #ccc, #eee); 
    background-image:    -moz-linear-gradient(left, #eee, #ccc, #eee); 
    background-image:     -ms-linear-gradient(left, #eee, #ccc, #eee); 
    background-image:      -o-linear-gradient(left, #eee, #ccc, #eee); 
	margin-bottom:25px;
}

#scale-down {
    width: auto;
	height: auto;
}

div.float {
float:left; 
width:auto;	
}



div.alignment {
text-align:center;
padding: 0;

}



#title
{width:960; margin: 100px auto;
}



a {	color:#000;
	text-decoration: none;
	}
	
a:hover {	border-bottom: 1px solid #000;
	color:#000;
	text-decoration: none;
	font-weight:bold;
	}


img {padding:20px 0 10px 0;}